<!DOCTYPE html>
<html>
  <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <title>title</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'>
  </head>
  <body>
    <aside>
        <div class="intiative">
            <fieldset>          
                <legend><button>Initiative+</button></legend>
            <fieldset>
        </div>
        <div class="effects">
            <fieldset>
                <legend><button>Effects+</button></legend>
            </fieldset>
        </div>
    </aside>
    <div class="main">
        <fieldset>
            <input type="button" value="++" class="mainadd">
            <input type="button" value="+" class="mainadd">
            <div class="monster">
            	<fieldset>
            	<legend>Monster A</legend>
            	HP
            	<input type="number" name="HP" min="0" max="100">
            	AC
            	<input type="number" name="AC" min="0" max="100">
            	<button class="dropdown">>></button>
            	</fieldset>
            	<fieldset>
            	<legend>Monster B</legend>
            	HP
            	<input type="number" name="HP" min="0" max="100">
            	AC
            	<input type="number" name="AC" min="0" max="100">
            	<button class="dropdown">>></button>
            	</fieldset>
            </div>
        </fieldset>
  </div>
  </body>
</html>
