<!DOCTYPE html>
<html>
  <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <title>title</title>
      <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <aside>
        <div class="intiative">
            <fieldset id="initField">          
                <legend><button id="addInit">Initiative+</button></legend>
            </fieldset>
        </div>
        <div class="effects">
            <fieldset id="effectField">
                <legend><button id="addEffect">Effects+</button></legend>
            </fieldset>
        </div>
    </aside>
    <div class="main">
        <fieldset id="mainFields">
            <legend>Workspace</legend>
            <input type="button" value="Add Group" class="mainadd" id="addgroup">
            <input type="button" value="Add Monster" class="mainadd" id="addsingle">
            <div id="monsterList">

            </div>
        </fieldset>
  </div>
  <script>
        $("#addsingle").click(function(){
            $("#monsterList").append( '<fieldset class="monster"> <legend>Monster</legend>HP<input type="number" name="HP" min="-10" max="100">AC<input type="number" name="HP" min="0" max="100"><button class="dropdown">>></button></fieldset>' );
        });
        $("#addInit").click(function(){
            $("fieldset#initField").append( '<fieldset class="initativeBlock"><input type="text"><input type="number" min="0" max="100"></fieldset>' );
        });
        $("#addEffect").click(function() {
            $("fieldset#effectField").append( '<fieldset class="initativeBlock"><input type="text"><input type="number" min="0" max="100"></fieldset>' );
        });
  </script>

  </body>
</html>
